* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.game-board {
  width: 100%;
  height: 500px;
  border-bottom: 15px solid rgb(35, 160, 35);
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  background: linear-gradient(#87CEEB, #E0F6FF);
}

.pipe {
  position: absolute;
  bottom: 0;
  width: 80px;
  animation: pipe-animation 2s infinite linear;
}

.mario {
  width: 150px;
  position: absolute;
  bottom: 0;
}

.jump{
    animation: jump 500ms ease-out;
}

.clouds{
    width: 550px;
    position: absolute;
    animation: clouds-animation 20s infinite linear;
}

.f5{
    text-align: center;
    background-color: black;
    color: white;
    margin: 300px;
    left: 250px;
    position: absolute;
    padding: 10px;
    font-size: 20px;
    width: auto;
    animation: f5 1.5s infinite linear;
}

.f5 h1{
    cursor: pointer;
 }


@keyframes pipe-animation {
  from {
    right: -80px;
  }

  to {
    right: 100%;
  }
}

@keyframes jump {
  0% {
    bottom: 0;
  }
  40%{
    bottom: 180px;
  }

  50% {
    bottom: 180px;
  }
  60%{
    bottom: 180px;
  }
  100% {
    bottom: 0;
  }
}

@keyframes clouds-animation {
    from{
        right: -550px;
    }

    to{
        right: 100%;
    }
}

@keyframes f5{
    0%{
        background-color: black;
        color: white;
    }
    50%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}